<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259602833572-1glsubhc23f67jf119gurhnn0dkl1pf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259602833572-1glsubhc23f67jf119gurhnn0dkl1pf9</string>
	<key>API_KEY</key>
	<string>AIzaSyDX1Iu5-HN0hvBllJWaBAQyTkiVfWQDL1k</string>
	<key>GCM_SENDER_ID</key>
	<string>259602833572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.user154425.Shoestring-App</string>
	<key>PROJECT_ID</key>
	<string>shoestring-app-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>shoestring-app-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259602833572:ios:749138a72f2f14730e0631</string>
	<key>DATABASE_URL</key>
	<string>https://shoestring-app-ios.firebaseio.com</string>
</dict>
</plist>